@use 'variables' as *;

.product-button {
  display: block;
  background-color: $color-product-btn;
  color: $color-white;
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  margin-top: 8px;
  text-decoration: none;

  &:hover {
    background-color: $color-product-btn-hover;
  }
}
