$color-bg-body: #f5f6fa;
$color-header-bg: #182C61;
$color-product-btn: #44bd32;
$color-product-btn-hover: #4cd137;
$color-white: #fff;

$font-primary: 'Roboto', sans-serif;

$max-width-container: 1024px;
