
@import "maps.less";
@breankpointsMobile: ~"(max-width: 768px)";
@breankpointsTablet: ~"(min-width: 769px) and (max-width: 1024px)";

.marginbottom-8 {
	margin-bottom: 8px
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #colors[background-color];
	color: #colors[textColor];
}

li {
	list-style: none;
}
.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media @breankpointsTablet {
		max-width: 85%;
	}

	@media @breankpointsMobile {
		max-width: 70%;
	}

}

header {
	padding: 24px;

	.profile {
		display: block;
		margin: 0 auto 24px;
		border-radius: 50%;
	}
}

.profile-bio {
	text-align: center;
	&-name {
		font-size: 16px;
		.marginbottom-8();
	}
	&-subtitle {
		font-size: 14px;
		.marginbottom-8();

	}
	&-description {
		font-size: 14px;
		opacity: .7;
	}
}

.social-links {
	display: flex;
	justify-content: space-between;
	max-width: 240px;
	width: 100%;
	margin: 0 auto;

	li {
		list-style: none;

		img {
			transition: all 0.3s ease;
			&:hover {
				transform: scale(1.3);
			}
		}
	}
}

.projects-list {
	&-item {
		margin-top: 32px;

		a {
			text-decoration: none;
			background-color: #colors[buttonColor];
			display: block;
			padding: 16px 20px;
			margin-bottom: 16px;
			text-align: center;
			color: #colors[textColor];
			font-weight: bold;
			border-radius: 30px;
			border: 2px solid #colors[buttonColor];
			transition: all 0.3s ease;

			&:hover {
				color: #colors[buttonColor];
				background-color: transparent;
			}
		}
	}
}