.marginbottom-8 {
  margin-bottom: 8px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #192a56;
  color: #f5f6fa;
}
li {
  list-style: none;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 85%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 70%;
  }
}
header {
  padding: 24px;
}
header .profile {
  display: block;
  margin: 0 auto 24px;
  border-radius: 50%;
}
.profile-bio {
  text-align: center;
}
.profile-bio-name {
  font-size: 16px;
  margin-bottom: 8px;
}
.profile-bio-subtitle {
  font-size: 14px;
  margin-bottom: 8px;
}
.profile-bio-description {
  font-size: 14px;
  opacity: 0.7;
}
.social-links {
  display: flex;
  justify-content: space-between;
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
}
.social-links li {
  list-style: none;
}
.social-links li img {
  transition: all 0.3s ease;
}
.social-links li img:hover {
  transform: scale(1.3);
}
.projects-list-item {
  margin-top: 32px;
}
.projects-list-item a {
  text-decoration: none;
  background-color: #0097e6;
  display: block;
  padding: 16px 20px;
  margin-bottom: 16px;
  text-align: center;
  color: #f5f6fa;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #0097e6;
  transition: all 0.3s ease;
}
.projects-list-item a:hover {
  color: #0097e6;
  background-color: transparent;
}
